<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <!-- 1st Parent -->

        <nav>
            <!-- nav for all pages  this is auto-sizing-->
            <div id="logo"></div>
            <h1 class="title">Welcome</h1>
            <ul class="navbarul">
                <!-- change all paths to /img -->
                <li class="option"><a href="#profile"><img src="/img/profile_icon.png" alt="profile"
                            height="60">Profile</a>
                </li>
                <li class="option"><a href="#friends"><img src="/img/friends_icon.png" alt="friends">Friends</a>
                </li>
                <li class="option"><a href="#rewards"><img src="/img/rewards_icon.png" alt="rewards">Rewards</a>
                </li>
                <li class="option"><a href="#mindgames"><img src="/img/mind_games_icon.png" alt="mind games">Mind
                        Games</a></li>
                <li class="option"><a href="#exercise"><img src="/img/exercise_icon.png" alt="exercise" width="20"
                            height="65">
                        Exercise</a></li>
                <li class="option"><a href="#meditation"><img src="/img/meditate_icon.png" alt="meditation" width="60"
                            height="50">Meditation</a></li>
            </ul>
        </nav>

        <!-- 2nd Parent -->
        <div class="subcontainer">

            <!-- Flexible card - Put all your code in here -->
            <main>

                <!-- Profile Card ~ Place user info here -->
                <section class="profile_card">
                    <img src="/img/profilepic.png" alt="waman" class="profilepic">
                    <div>
                        <p id="username">.</p>
                        <div><b>First Name:</b> Replace this text</div>
                        <div><b>Last Name:</b> Replace this text</div>
                        <div><b>Email:</b> Replace this text</div>
                        <div><b>Description:</b> Replace this text</div>
                    </div>
                </section> 
                <!-- section acts like the body of the content -->
                <section>

                    <!-- A carousel to display content V1 -->
                    <!-- flexible bg-picture and middle text on hover -->
                    <template>
                        <fieldset class="carousel_border">
                            <legend class="subtitle">Title of section</legend>
                            <div class="option_card">
                                <div class="carousel_item">inside_text</div>
                                <h2 class="subtitle">Name</h2>
                                <p><b>Description:</b>Replace this text</p>
                            </div>
                            <div class="option_card">
                                <div class="carousel_item">inside_text</div>
                                <h2 class="subtitle">Name</h2>
                                <p><b>Description:</b>Replace this text</p>
                            </div>
                            <div class="option_card">
                                <div class="carousel_item">inside_text</div>
                                <h2 class="subtitle">Name</h2>
                                <p><b>Description:</b>Replace this text</p>
                            </div>
                            <div class="option_card">
                                <div class="carousel_item">inside_text</div>
                                <h2 class="subtitle">Name</h2>
                                <p><b>Description:</b>Replace this text</p>
                            </div>

                        </fieldset>
                    </template>

                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dom</td>
                                <td>6000</td>
                            </tr>
                            <tr class="active-row">
                                <td>Melissa</td>
                                <td>5150</td>
                            </tr>
                            <!-- and so on... -->
                        </tbody>
                    </table>



                </section>
                <form action="/logout" class="form-group">
                    <button type="submit" id="logout">Logout</button>
                </form>
            </main>
        </div>
    </div>
</body>

</html>