html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* height: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    padding-right: 20px;
}

.profile_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #16697a;
    border-radius: 12px;
    min-width: 350px;
    margin: 15px 0 8px 0;
}

b,
span {
    margin: 5px;
}

#pointsholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 300;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin: 5px 0;
    border: 3px dotted #c67700;
}

div>b+span {
    color: #16697a;
}
.subtitle {
    font-size: 2em;
    color:#4874B5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.card>.subtitle{
    font-size: 1.3em;
    color:black;
}

.prof {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    align-items: center;
}

#username {
    font-size: 1.2em;
    color: #4874B5;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px;
}

section {
    width: 90%;
    height: 100%;
}

.border {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-color: #16697a;
    border-radius: 12px;
    min-width: 100px;
    margin: 10px 0;
}

.card {
    flex: 1;
    background-image: linear-gradient(to right, #bd6f2d, #b15f48, #985759, #77535d, #564f53);
    margin: 4px 15px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
}

.card:hover{
    transform: scale(1.04);
    transition: 0.4s;

}
.card:hover .subtitle{
    color:white;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    letter-spacing: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 200px;
    width: 100%;
    text-decoration: none;
    color: transparent;
}

.link:hover {
    color: white;
    opacity: 1;
    cursor: pointer;
}

.wordle {
    background-image: url(/img/wordle.png);
}

.suduko {
    background-image: url(/img/suduko.png);
}

.match {
    background-image: url(/img/animalmatch.jpg);
}

.puzzle {
    background-image: url(/img/puzzle.png);
}


.walk {
    background-image: url(/img/walk.jpg);
    flex: 1;
}

.hike {
    background-image: url(/img/hikee.jpg);
    flex: 1;
}

.yoga {
    background-image: url(/img/yoga.jpg);
    flex: 1;
}

.meditation {
    background-image: url(/img/meditation.jpg);
    flex: 1;
} 

    .profilepic {
        width: 150px;
        height: 150px;
        margin: 10px;
        border: 2px solid #8b622a;
        border-radius: 10px;
    }

@media screen and (max-width:717px) {
    body {
        min-width: 350px;
        background-image: url(/img/main_mobile.jpg);
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
    }

    .border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 150px;
    }

    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 40.18%);
        backdrop-filter: blur(4px);
        border-radius: 0px;
        margin-top: 0px;
    }

    .profilepic {
        width: 150px;
        height: 150px;
        margin: 10px;
        border: 2px solid #8b622a;
        border-radius: 10px;
    }

    .card{
        margin: 15px auto;
        width:80%;
        
    }
}

@media screen and (min-width:718px) and (max-width:3400px) {
    body {
        min-width: 350px;
        background-image: url(/img/main_bg.jpg);
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        width: 100%;
    }



    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 50.18%);
        backdrop-filter: blur(4px);
        border-radius: 20px;
        margin: 20px 10px;
    }

    .card{
        margin:10px;
    }
    .border {
        justify-content: space-between;
    }

    .link {
        min-height: 150px;
        min-width: 150px;
        flex: 1;
    }
}