html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* height: 100vh; */
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100%;
}

.title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    padding-right: 20px;
}

#pointsholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px; 
    border-radius: 15px;
    top: 30px;
}

@media screen and (min-width: 790px){
    .profile_card > #pointsholder {
        float: right;
        margin: 0 auto;
        position: absolute;
        right: 60px;
    }
}

/* .profile_card > #pointsholder {
    float: right;
    margin: 0 auto;
    position: absolute;
    right: 60px;
} */


.subtitle {
    font-size: 1em;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}

.option {
    float: right;
    display: flex;
    flex-direction: column;
}

.option a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    align-items: center;
}

.prof {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    align-items: center; 
}

.option>img {
    width: 50px;
    height: 50px;
}

.option:active {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.option:hover {
    transform: scale(1.09);
    transition: ease-in 0.09s;
}

#logout {
    background-color:transparent;
    color: #ffff;
    border: none;
}
#logout:hover{
    color:red;
    transform: none;
}

#logout {
    background-color:transparent;
    color: #ffff;
    border: none;
    padding-right: 10px;
}


button>img{
    float: right;
    width: 55px;
    height: 55px;
}

#username {
    font-size: 1.2em;
    color: #4874B5;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px;
}

section {
    width: 90%;
    height: 100%;
}

.physical {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-color: #16697a;
    border-radius: 12px;
    min-width: 100px;
    margin: 8px 0;
}

.exer_card{
    flex: 1;
    background: linear-gradient(to bottom, #EDE7E3 0%, #D5AE98 100%);
    margin: 4px 15px;
    border-radius: 20px;
    padding: 10px;
}

.exer_card:nth-child(1){
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}
.exer_card:nth-child(2){
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.exer_card:nth-child(3){
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}
.exer_card:nth-child(4){
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%); 
}
.exer_card:nth-child(5){
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.exer_card:nth-child(6){
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);    
}

.exer_card>.subtitle{
    padding: 4px;
}

.exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5em;
    letter-spacing: 3px;
    /* background-image: url(/img/walking.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    /* width: 1.2fr; */
    border-radius: 20px;
    height: 200px;
    width: 100%;
    /* margin: 8px; */

    text-decoration: none;
    color: black;
}

.wordle {
    background-image: url(/img/wordle.png);
}

.suduko {
    background-image: url(/img/suduko.png);
}

.match {
    background-image: url(/img/animalmatch.jpg);
}

.puzzle {
    background-image: url(/img/puzzle.png);
}


.walk {
    background-image: url(/img/walk.jpg);
    flex:1;
}

.hike {
    background-image: url(/img/hikee.jpg);
    flex:1;
}

.yoga {
    background-image: url(/img/yoga.jpg);
    flex:1;
}

.meditation {
    background-image: url(/img/meditation.jpg);
    flex:1;
}



.exercise:hover {
    color: wheat;
    box-shadow: 1px 1px 1px 2px gray;
    transform: scale(1.04);
    transition: 0.4s;
    opacity: 1;
    font-size: 2em;
    cursor: pointer;
    font-weight: 900;
    opacity: 0.5;
    background-image: none;
    background-color: black;
}

/* .exercise>.imgname:hover{
    filter: brightness(100%);
} */

/* .exercise:hover {
   filter: brightness(100%);
} */

/* #exercisesub {
    border-radius: 10px;
    padding: 8px 40px;
    background-color: #BEE5B0;
    color: black;
    border: 2px solid black;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

#exercisesub:hover {
    box-shadow: 1px 1px 1px 2px gray;
    transform: scale(1.04);
    transition: ease-in 0.3s;
}

#exercisesub:active {
    background-color: #BEE5B0;
} */

.profilepic {
    width: 100px;
    margin: 20px;
}

.profile_card {
    display: flex;
    padding: 10px;
}

.profile_card>div>div {
    margin: 2px;
    font-size: 0.9em;
}

.profilepic {
    width: 100px;
    height: 100px;
    margin: 10px;
}

@media screen and (max-width:717px) {
    body {
        min-width: 350px;
        height: 100%;
    }

    #logo {
        position: fixed;
        bottom: 0;
        right: 0;
        background-image: url(/img/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        padding: 5px;
        z-index: 1;
    }

    #logout{
        position: fixed;
        bottom: 30px;
        left: 0;
        width: 50px;
        height: 50px;
        padding: 5px;
        z-index: 1;
    }

    .physical {
        display: flex;
        flex-direction: column;
        min-height: 150px;
    }

    .container {
        background-image: url(/img/main_bg.jpg);
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(#16697a, #5b96a1);
        border-bottom: 2px solid black;
    }

    .navbarul{
        display: flex;
    }

    option>a{
        flex:1;
    }

    #logo {
        order: 2;
        transform: scale(1.5);
        margin: 5px;
    }


    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 95%;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 40.18%);
        backdrop-filter: blur(4px);
        border-radius: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:793px) {
    nav>h1.title {
        display: none;
    }

}



@media screen and (min-width:718px) and (max-width:3400px) {
    body {
        min-width: 350px;
    }

    .container {
        background-image: url(/img/main_bg.jpg);
        background-position: center;
        background-repeat: repeat-y;  
        background-size: cover;
        width: 100%;
    }

    nav {
        background-image: linear-gradient(#16697a, #5b96a1);
        border-bottom: 2px solid black;
    }

    #logo {
        background-image: url(/img/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
    }

    .title {
        color: #ffff;
        display: inline-flex;
        align-self: center;
        text-align: center;
        opacity: 0;
        animation: 2s fadeIn;
        animation-fill-mode: forwards;
        transition: opacity 1.5s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 50.18%);
        backdrop-filter: blur(4px);
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .physical {
        justify-content: space-between;
    }

    .exercise {
        min-height: 150px;
        min-width: 150px;
        flex: 1; 
    }

    .form-group {
        display: inline-block;
        text-align: center;
        margin: 2px;
    }

    .form-group>label {
        font-weight: bolder;
    }

    .form-group>input {
        border-radius: 8px;
    }

}