nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#16697a, #5b96a1);
    width: 100vw;
}

.navbarul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 340px;
    font-size: 0.9rem;
}

#logo {
    background-image: url(/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
}

.option {
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: bolder;
    white-space: nowrap;
    margin: 0 20px;
}

.option>img {
    width: 50px;
    height: 50px;
    align-self: center;
}

.option:active {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.option:hover {
    transform: scale(1.09);
    transition: ease-in 0.09s;
    cursor: pointer;
}

#adminLink{
    display:none;
}

#logout {
    background-color: transparent;
    color: #ffff;
    border: none;
    display: flex;
    flex-direction: column;
}

#logout:hover {
    color: #ffa62b;
    transform: none;
    cursor: pointer;
}

#logout {
    background-color: transparent;
    color: #ffff;
    border: none;
    padding-right: 10px;
}

button>img {
    width: 55px;
    height: 55px;
}

#username {
    font-size: 1em;
    color: #4874B5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

@media screen and (max-width:717px) {

    .option {
        margin: 0 8px;
    }
    nav{
        margin-bottom: 0;
    }


    #logo {
        position: fixed;
        bottom: 0;
        right: 0;
        background-image: url(/img/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 75px;
        height: 75px;
        padding: 5px;
        margin: 5px;
        z-index: 1000;
        border-radius: 90px;
    }

    #logo:hover {
        transform: scale(1.1);
        border: 2px solid #4874B5;
        border-radius: 90px;
        transition: ease-in-out 0.3s;
    }



    #logout {
        font-size: 0.70em;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 0;
    }


    button>b {
        display: none;
    }

    .logout {
        z-index: 1000;
        border-radius: 90px;
        background-color: #4874B5;
        border: 1.5px solid #ffa62b;
        position: fixed;
        bottom: 10px;
        left: 5px;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
    }

    .logout:hover {
        transform: scale(1.1);
        background-color: #ffa62b;
        transition: ease-in-out 0.4s;
    }


    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid black;
        width: 100%;
    }

    .navbarul {
        width: 100%;
        min-width: 300px;
    }

    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}